<p>add-donation works!</p>
<div class="center">
    <form>
        <div class="row" class="col-md-6">
            <input type="text" placeholder="Donation Date" [(ngModel)]="donation.dateDonation"
                [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="number" placeholder="sum" [(ngModel)]="donation.sum"
                [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="number" placeholder="bankAccount" [(ngModel)]="donation.bankAccount"
                [ngModelOptions]="{standalone : true}">
        </div>
        <br>
        <button type="button" class="btn btn-success" (click)="addDonation(donation)">Add</button> 
        <button type="button" class="btn btn-info"  >Cancel</button>
    </form>
</div>