<div class="body_wrap">
    <!-- footer -->
    <footer class="contacts_wrap scheme_light">
        <div class="contacts_wrap_inner">
            <div class="content_wrap">
                <div class="logo">
                    <a href="index.html">
                       
                    </a>
                </div>
                <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                    <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_twitter">
                            <span class="icon-twitter"></span>
                        </a>
                    </div>
                    <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_facebook">
                            <span class="icon-facebook"></span>
                        </a>
                    </div>
                    <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_linkedin">
                            <span class="icon-linkedin"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- copyright_wrap footer-->
    <div class="copyright_wrap copyright_style_text scheme_dark">
        <div class="copyright_wrap_inner">
            <div class="content_wrap">
                <div class="copyright_text">
                    <a href="https://themerex.net/" target="_blank" class="copyright_link">ThemeREX © 2019 All Rights
                        Reserved</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /copyright_wrap footer -->
</div>
<!-- Scroll to top -->
<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
<!-- /Scroll to top -->