<div class="row">
    <div class="col-md-12">
        <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Add new Local</button>
        <ng-template #mymodal1 let-modal1>
            <app-add-local></app-add-local>
         <!--   <div class="card">
                <h4 class="modal-title" id="modal-basic-title" (click)="open(mymodal1)">Add new donation</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                    <span aria-hidden="true" (click)="cancel()">×</span>
                </button>
                
            </div>
            <div class="center">
           <form>
                <div class="row" class="col-md-6">
                    <input type="text" placeholder="Product Name" [(ngModel)]="donation.dateDonation"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <div class="row" class="col-md-6">
                    <input type="number" placeholder="Price" [(ngModel)]="donation.sum"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <div class="row" class="col-md-6">
                    <input type="number" placeholder="Quantity" [(ngModel)]="donation.bankAccount"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <br>
                <button routerLink="" type="button" class="btn btn-success" (click)="addDonation(donation)" (click)="modal1.close('Save click')">Add</button> 
                <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
            </form>
        </div>-->
        </ng-template>
        <div class="row">
            <div class="card" class="text-center">
                <table class="table">
                    <thead style="background-color: rgb(192, 183, 183);">
                        <th>City</th>
                        <th>Governorate</th>
                        <th>PostalCode</th>
                        <th>Address</th>
                        <th>name</th>
                        <th>Start date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let p of listLocals'>
                            <td>{{p.city}}</td>
                            <td>{{p.governorate}}</td>
                            <td>{{p.postalCode}}</td>
                            <td>{{p.address}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.dateStart}}</td>
                            <td>{{p.dateEnd}}</td>
                            <td><button type="button" class="btn btn-outline-primary"
                                    (click)="open(mymodal)">edit</button>
                                <ng-template #mymodal let-modal>
                                  
                                 <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true" (click)="cancel()">×</span>

                                        </button>

                                    </div>
                                    <div>
                                    <form>
                                        <div class="modal-body">

                                            <div class="row" class="col-md-5">
                                                <label>city</label>
                                                <input type="text" [(ngModel)]="p.city" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>governorate</label>
                                                <input type="text" [(ngModel)]="p.governorate" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>postalCode</label>
                                                <input type="number" [(ngModel)]="p.postalCode" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>address</label>
                                                <input type="text" [(ngModel)]="p.address" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>name</label>
                                                <input type="text" [(ngModel)]="p.name" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>dateStart</label>
                                                <input type="date" [(ngModel)]="p.dateStart" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="col-md-5">
                                                <label>dateEnd</label>
                                                <input type="date" [(ngModel)]="p.dateEnd" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
    
                                            <button type="button" class="btn btn-info"
                                                (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                                            <button class="btn btn-success"(click)="editLocal(p)" (click)="modal.close('Save click')">Validate</button>
                                        </div>
                                     
                                    </form>
                                </div>
                                </ng-template>
                                <button type="button" class="btn btn-outline-danger"
                                (click)="deleteLocal(p.idLocal)">delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>