<div class="body_wrap">
    <div class="page_wrap">
        <!-- Header -->
        <header class="top_panel_wrap top_panel_style_1 scheme_ menu_show">
            <div class="top_panel_wrap_inner top_panel_inner_style_1 top_panel_position_above">
                <div class="scheme_dark">
                    <div class="top_panel_top top_panel_inner_style_3">
                        <div class="content_wrap clearfix">
                            <div class="top_panel_top_contact_area contact_address">
                                <i class="icon icon-house158"></i>
                                <span>123, New Lenox Chicago, IL 60606</span>
                            </div>
                            <div class="top_panel_top_user_area">
                                <div class="top_panel_top_contact_area contact_email">
                                    <i class="icon icon-mail81"></i>
                                    <span><a href="mailto:info@yoursite.com">info@yoursite.com</a></span>
                                </div>
                                <div class="top_panel_top_contact_area contact_phone">
                                    <i class="icon icon-telephone51"></i>
                                    <span><a href="tel:+1234567890">123-456-7890</a></span>
                                </div>
                                <ul id="menu_user" class="menu_user_nav">
                                    <li class="menu-item menu-item-type-post_type">
                                        <a href="appointment.html">Make an appointment</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scheme_light">
                    <div class="top_panel_bottom top_panel_inner_style_1">
                        <div class="content_wrap">
                            <div class="menu_main_wrap">
                                <nav class="menu_main_nav_area">
                                    <ul id="menu_main" class="menu_main_nav">
                                        <li
                                            class="menu-item menu-item-has-children current-menu-parent current-menu-item current-menu-ancestor">
                                            <a href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="index.html">Home 1</a>
                                                </li>
                                                <li class="menu-item current-menu-item current_page_item">
                                                    <a href="index-2.html">Home 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Features</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="about-me.html">About Me</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="pricing.html">Pricing</a>
                                                </li>
                                                <li class="menu-item page_item">
                                                    <a href="shortcodes.html">Shortcodes</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="typography.html">Typography</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a target="_blank" href="doc/index.html">Documentation</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Gallery</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="gallery-grid.html">Grid Gallery</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="gallery-masonry.html">Masonry Gallery</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="category-standard-blog.html">Standard Blog</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="category-without-sidebar.html">Without Sidebar</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Blog Masonry</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="category-masonry-2-columns.html">Masonry 2
                                                                Columns</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="category-masonry-3-columns.html">Masonry 3
                                                                Columns</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Blog Portfolio</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="category-portfolio-2-columns.html">Portfolio 2
                                                                Columns</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="category-portfolio-3-columns.html">Portfolio 3
                                                                Columns</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="category-post-formats.html">Post Formats</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a>Courses</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a [routerLink]="['/listCourses/']">All Courses</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a [routerLink]="['MyCoursesT/',1]">My Courses Trainer</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a [routerLink]="['/MyCoursesW/',3]">My Courses Women</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="contact.html">Contact</a>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="forums.html">Forums</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="activity.html">Activity</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="groups.html">Groups</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="members.html">Members</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->

        <!-- header_mobile -->
        <div class="header_mobile">
            <div class="content_wrap">
                <div class="menu_button icon-menu"></div>
                <div class="logo">
                   
                </div>
            </div>
            <div class="side_wrap">
                <div class="close">Close</div>
                <!-- panel_top -->
                <div class="panel_top">
                    <ul id="menu_main_mobile" class="menu_main_nav">
                        <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="index.html">Home 1</a>
                                </li>
                                <li class="menu-item current-menu-item">
                                    <a href="index-2.html">Home 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Features</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="about-me.html">About Me</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pricing.html">Pricing</a>
                                </li>
                                <li class="menu-item page_item">
                                    <a href="shortcodes.html">Shortcodes</a>
                                </li>
                                <li class="menu-item">
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li class="menu-item">
                                    <a target="_blank" href="doc/index.html">Documentation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Gallery</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="gallery-grid.html">Grid Gallery</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gallery-masonry.html">Masonry Gallery</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="category-standard-blog.html">Standard Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="category-without-sidebar.html">Without Sidebar</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Blog Masonry</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Blog Portfolio</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="category-portfolio-2-columns.html">
                                                Portfolio 2 Columns
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="category-portfolio-3-columns.html">
                                                Portfolio 3 Columns
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="category-post-formats.html">
                                        Post Formats
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="shop.html">Shop</a>
                                </li>
                                <li class="menu-item">
                                    <a href="product-single.html">Single Product</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="forums.html">Forums</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="activity.html">Activity</a>
                                </li>
                                <li class="menu-item">
                                    <a href="groups.html">Groups</a>
                                </li>
                                <li class="menu-item">
                                    <a href="members.html">Members</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /panel_top -->

                <!-- panel_middle -->
                <div class="panel_middle">
                    <div class="contact_field contact_phone">
                        <span class="contact_icon icon-phone"></span>
                        <span class="contact_label contact_phone">123-456-7890</span>
                        <span class="contact_email">info@yoursite.com</span>
                    </div>
                </div>
                <!-- /panel_middle -->
            </div>
            <div class="mask"></div>
            <!-- /header_mobile -->
        </div>
    </div>
</div>